.resume>.main>.bottom>div {
    width: 100%;
    height: fit-content;
    min-height: 90%;
}

.resume>.main>.bottom>.data>span {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: column;
}

.resume>.main>.bottom>.data>span>label {
    font-size: 0.9em;
    font-weight: 600;
    padding: 2px 10px;
}

.resume>.main>.bottom>.data>span>span {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.resume>.main>.bottom>.data>span>span>input:not(.resume > .main > .bottom > .data > span > span > input[type="file"]) {
    width: 100%;
    height: 35px;
    padding: 10px;
    padding-right: 6px;
    outline: none;
    border: 1px solid rgba(102, 102, 102, 0.505);
    margin-bottom: 4px;
    border-radius: 8px;
}

.resume>.main>.bottom>.data>span>input,
.resume>.main>.bottom>.data>span>textarea {
    width: 100%;
    height: 35px;
    padding: 10px;
    padding-right: 6px;
    outline: none;
    border: 1px solid rgba(102, 102, 102, 0.505);
    border-radius: 8px;
}

.main>.bottom>.data>span>textarea {
    height: 120px !important;
    resize: none;
}

.social-title>span {
    flex-direction: row !important;
    gap: 10px;
    margin-top: 6px;
}

.social-title > span > .MuiBox-root {
    width: 10px !important;
    min-width: fit-content !important;
}
.social-title > span > .MuiBox-root  .MuiInputBase-root {
    border-radius: 8px;
}
.social-title > span > .MuiBox-root  .MuiSelect-select {
    padding: 6px !important;
    padding-right: 32px !important;
    font-size: 0.5em;
    
}
.social-title > span > .MuiBox-root  .MuiList-root {
    display: grid !important;
    place-items: center !important;
}

.social-title>span > #socail {
    width: 30% !important;
    font-size: 0.7em;
}

.chipsAll {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10px;
}

.chips {
    width: fit-content;
    background-color: rgba(243, 243, 243, 0.344);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(31, 38, 135, 0.37);
    padding-right: 10px;
}
.chips > span {
    padding: 6px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chips>.MuiSvgIcon-root {
    width: 15px;
    height: 15px;
    position: absolute;
    right: -10px;
    top: 0;
    background: rgba(241, 241, 241, 0.96);
    box-shadow: 0 1px 5px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.chips > span > .MuiSvgIcon-root {
    font-size: 1.5em;
    margin-right: 4px;
}
.chipsAll>.chipactive {
    background-color: rgb(210, 255, 229);
}

.new-chip {
    width: 40px;
    height: 30px;
    box-shadow: 0 2px 4px 0 rgba(31, 38, 135, 0.37);
    border-radius: 8px;
    font-size: 0.7em;
    font-weight: 500;
    cursor: pointer;
    background-color: rgba(246, 246, 246, 0.81);
    display: grid;
    place-items: center;
}

input {
    font-size: 0.9em !important;
}

#pfp {
    display: none;
}
.pfptext {
    position: relative;
    padding: 5px;
    cursor: pointer;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.pfptext > span {
    position: absolute;
    bottom: 0px;
    height: 1.5px;
    width: 100%;
    background-color: rgb(255, 145, 145);
    left: 0;
}

.displaypfp {
    place-items: center !important;
}

.displaypfp > img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}