.resume {
    width: 100%;
    height: 100%;
    max-height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px 0;
    overflow-y: auto !important;
    background-color: #f8f8f8;
}

.resume>.main {
    width: 90%;
    height: fit-content;
    min-height: 90%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
}

.resume>.main>.top {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 226, 226);
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    overflow: hidden;
    overflow-x: auto;
    font-size: 15px;
    position: relative;
    transition: all 0.5s ease-in-out;
}
sup {
    color: crimson;
    font-size: 0.8em !important;
    font-weight: 800;
}
.resume > .main > .top > h6 {
    min-width: fit-content;
    padding: 10px 20px;
    font-size: 0.8em;
    margin: 0;
    margin: auto;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.resume > .main > .top > .active {
   background-color: rgb(3, 3, 15);
   border-radius: 8px;
   color: #f8f8f8;
}

.resume>.main>.bottom {
    padding: 20px 30px;
    width: 100%;
    height: fit-content;
    min-height: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    border-radius: 0 0 8px 8px;
    overflow-y: auto;
}

@media screen and (max-width: 776px) {
    .resume > .main > .bottom {
        justify-content: flex-start;
        flex-direction: column;
        gap: 0px !important;
        padding: 6px;
        padding-bottom: 50px;
    }    
    .resume > .main > .bottom > div {
        min-height: fit-content !important;
    }
}