.home {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.home > img {
    width: 1139px;
    object-fit: contain;
    float: right;
}

@media screen and (max-width: 1200px) {
    .home > img {
        width: 100%;
    }
    
}