/* not logged in screen */
.notloggedin {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notloggedin>img {
    width: 100%;
    height: 90%;
    object-fit: contain;
    flex: 0.6;
}

.notloggedin>span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0.4;
    gap: 10px;
    flex-direction: column;
}

.notloggedin>span>button {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    border: 0px;
}

.notloggedin>span>button:hover {
    background-color: rgb(89, 88, 88);
}

@media screen and (max-width: 920px) {
    .notloggedin {
        flex-direction: column;
    }
    .notloggedin > span {
        position: absolute;
        bottom: 10%;
    }
}

@media screen and (max-width: 210px) {
    .notloggedin > span > button {
        font-size: 0.7em;
    }

    .notloggedin > span > button > .MuiSvgIcon-root {
        width: 15px;
        height: 15px;
    }
}