.previewEducationInfo {
    width: 96%;
    height: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.marksinp {
    flex-direction: row !important;
    justify-content: flex-start !important;
    align-items: center !important;
    gap: 10px;
}
.marksinp > input {
    flex: 1;
}
.marksinp > select {
    width: 40%;
    flex: 0.35;
    max-width: 100px;
    height: 35px;
    padding: 2px;
    border-radius: 8px;
    outline: 0;
    border: 1px solid rgba(0,0, 0, 0.35);
    cursor: pointer;
    font-size: 0.8em;
}
.previewEducationInfo > .new-chip {
    width: fit-content;
    padding: 0 10px;
    background-color: rgba(248, 248, 248, 0.308);
}
.previewEducationInfo > .active {
    background-color: rgb(195, 255, 195) !important;
} 

.previewEducationInfo > .chips {
    width: 100%;
    height: fit-content;
    background-color: rgba(248, 248, 248, 0.308);
    transition: all 0.5s ease-in-out;
    
}

.previewEducationInfo > .chips > span {
    width: 96%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.previewEducationInfo > .chips > span > span {
    min-width: fit-content;
    padding: 0px 10px;
}

.simpleButton {
    width: 100%;
    height: 40px;
    text-align: center;
    border: 0;
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
}
.simpleButton:hover {
    background-color: rgb(230, 230, 230);
    transform: translateY(2px);
}