.app {
    width: 100vw;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
  }

@media screen and (max-width: 720px) {
    .header > .right {
        display: none;
    }
}