@import url('https://fonts.googleapis.com/css2?family=Combo&family=Roboto&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}
*:hover::-webkit-scrollbar {
  height: 5px !important;
  width: 4px !important;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(133, 133, 133, 0.262);
}

body {
  overflow: hidden;
}